<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>
<p>
<textarea>






p {
color: #65A5C1;
font-size: 30px;
}





body {
color: #905BC9;
font-size: 20px;
}






</textarea>
</p>




</body>
</html>