p#pogrubienie_wasi
{
color: red;
font-size: 25px;	
}
p#pochylona_wasi
{
color: blue ;
font-size: 30px;	
}
p#index_gorny_wasi
{
color: green;
font-size: 17mm;	
}
p#index_dolny_wasi
{
color: grey;
font-size: 29mm;	
}
p#mono_wasi
{
color: purple;
font-size: 40px;	
}
p#powiekszenie_wasi
{
color: yellow;
font-size: 55px;	
}
p#pogrubienie_wasi
{
color: lightblue;
font-size: 10px;	
}